# IntelliJ IDEA
.idea/
*.iml

# Maven
target/
.mvn/

# OS fájlok
.DS_Store
Thumbs.db

# Log fájlok
*.log

# Személyes beállítások
*.swp
*.swo

# Application properties – fontos: NE kerüljön fel jelszóval!
src/main/resources/application.properties
src/main/resources/application.yml

# Zárjuk ki a teljes media mappát
/media/