<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">

<head>
    <title>Kosár</title>
</head>

<div layout:fragment="content">
    <div class="container">
        <div class="row">

            <!-- Bal oldali sáv (üres, ha nem kell szűrő) -->
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategóriák</h2>
                    <!-- Ide később tehetsz szűrőket vagy menüt -->
                </div>
            </div>

            <!-- Kosár tartalma -->
            <div class="col-sm-9 padding-right">
                <h2 class="title text-center">Kosár tartalma</h2>

                <div th:if="${cartItems.empty}">
                    <p class="text-center">A kosár üres.</p>
                </div>

                <form th:if="${!cartItems.empty}" th:action="@{/cart/update}" method="post">
                    <section id="cart_items">
                        <div class="table-responsive cart_info">
                            <table class="table table-condensed">
                                <thead>
                                <tr class="cart_menu">
                                    <th class="image">Kép</th>
                                    <th class="description">Termék</th>
                                    <th class="price">Egységár</th>
                                    <th class="quantity">Mennyiség</th>
                                    <th class="total">Összesen</th>
                                    <th>Művelet</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="item : ${cartItems}">
                                    <td class="cart_product">
                                        <img th:src="@{${'/' + item.termek.kepek[0]}}" th:if="${item.termek.kepek != null and !item.termek.kepek.isEmpty()}"
                                             alt="Kép" style="height: 80px;">
                                        <img src="/img/no-image.jpg" th:if="${item.termek.kepek == null or item.termek.kepek.isEmpty()}"
                                             alt="Nincs kép" style="height: 80px;">
                                    </td>
                                    <td class="cart_description">
                                        <h4 th:text="${item.termek.cktnev}">Terméknév</h4>
                                    </td>
                                    <td class="cart_price">
                                        <p th:text="${item.termek.cktakc} + ' Ft'">Egységár</p>
                                    </td>
                                    <td class="cart_quantity">
                                        <div class="cart_quantity_button">
                                            <input type="number" class="cart_quantity_input" name="quantities"
                                                   min="1" th:value="${item.mennyiseg}" autocomplete="off" size="2">
                                            <input type="hidden" name="termekIds" th:value="${item.termek.id}">
                                        </div>
                                    </td>
                                    <td class="cart_total">
                                        <p class="cart_total_price"
                                           th:text="${item.termek.cktakc * item.mennyiseg} + ' Ft'">Összesen</p>
                                    </td>
                                    <td class="cart_delete">
                                        <a th:href="@{'/cart/delete/' + ${item.termek.id}}" class="cart_quantity_delete"
                                           onclick="return confirm('Biztosan törlöd ezt a terméket a kosárból?')">
                                            <i class="fa fa-times"></i>
                                        </a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>

                    <section id="do_action">
                        <div class="row">
                            <div class="col-sm-6">
                                <a href="/cart/clear" class="btn btn-danger"
                                   onclick="return confirm('Biztosan törölni szeretnéd a teljes kosarat?')">
                                    Kosár ürítése
                                </a>
                            </div>
                            <div class="col-sm-6 text-end">
                                <strong>Végösszeg: </strong>
                                <span th:text="${vegosszeg} + ' Ft'" class="me-3">0 Ft</span>
                                <button type="submit" class="btn btn-default update">Frissítés</button>
                                <a href="/checkout" class="btn btn-default check_out ms-2">Megrendelés</a>
                            </div>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>
</div>

</html>
