<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{base.html}">
<head>
    <title>Akciós termékek</title>
</head>

<body>
<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <!-- Bal oldali szűrő -->
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Kategóriák</h2>
                    <div class="panel-group category-products">
                        <div class="panel panel-default" th:each="focsoport : ${kategoriak}">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a th:href="@{/?csp={kod}(kod=${focsoport.cspkod})}"
                                       th:text="${focsoport.cspnev}">Kategória</a>
                                </h4>
                            </div>
                        </div>
                    </div>

                    <h2>Alcsoportok</h2>
                    <ul class="nav nav-pills nav-stacked">
                        <li th:each="alcsoport : ${alcsoportok}">
                            <a th:href="@{/?csa={kod}(kod=${alcsoport.csakod})}" th:text="${alcsoport.csanev}">Alcsoport</a>
                        </li>
                    </ul>

                    <h2>Rendezés</h2>
                    <select class="form-control mb-3" onchange="location = this.value;">
                        <option value="/" th:selected="${rendezes == null}">Alapértelmezett</option>
                        <option th:value="@{/?rendezes=ar_asc}" th:selected="${rendezes == 'ar_asc'}">Ár szerint növekvő</option>
                        <option th:value="@{/?rendezes=ar_desc}" th:selected="${rendezes == 'ar_desc'}">Ár szerint csökkenő</option>
                    </select>
                    <a class="btn btn-secondary" href="/">Szűrők törlése</a>
                </div>
            </div>

            <!-- Termékek -->
            <div class="col-sm-9 padding-right">
                <div class="features_items">
                    <h2 class="title text-center">Akciós termékek</h2>

                    <div class="row">
                        <div class="col-sm-4" th:each="termek : ${ckt}">
                            <div class="product-image-wrapper">
                                <div class="single-products">
                                    <div class="productinfo text-center">
                                        <img th:if="${termek.kepek != null and !termek.kepek.isEmpty()}"
                                             th:src="@{${termek.kepek[0]}}" alt="Kép" style="max-height:200px" />
                                        <img th:if="${termek.kepek == null or termek.kepek.isEmpty()}"
                                             src="/img/no-image.jpg" alt="Nincs kép" style="max-height:200px" />
                                        <h2 th:text="${termek.cktakc} + ' Ft'">Akciós ár</h2>
                                        <p>
                                            <span class="text-decoration-line-through" th:text="${termek.cktfar} + ' Ft'">Eredeti ár</span><br>
                                            <span th:text="${termek.cktnev}">Terméknév</span>
                                        </p>
                                        <a th:href="@{/termek/{id}(id=${termek.cktkod})}" class="btn btn-default add-to-cart">
                                            <i class="fa fa-info-circle"></i> Részletek
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div th:if="${#lists.isEmpty(ckt)}" class="col-12">
                            <p>Nincs megjeleníthető termék.</p>
                        </div>
                    </div>

                    <!-- Lapozás -->
                    <div class="pagination-area text-center mt-4" th:if="${totalPages > 1}">
                        <ul class="pagination">
                            <li th:each="i : ${#numbers.sequence(0, totalPages - 1)}"
                                th:classappend="${i == currentPage} ? 'active'">
                                <a th:href="@{/?page={i}(i=${i})}" th:text="${i + 1}">1</a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
